-r requirements-test.txt
pip-tools==6.6.0
setuptools==70.0.0
wheel==0.38.1
pylint==2.13.5
pycodestyle==2.8.0
pydocstyle==6.1.1
sphinx==4.5.0
sphinx-rtd-theme==1.0.0
flake8==4.0.1
autopep8==1.6.0